h1{
  text-align: center;
  color:rgb(88, 86, 83);
  color: antiquewhite;
  
}

img{
  height: 300px;
}

.py-4{
  background-image: url(../image/daria-volkova-pBdbqG3tJGQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

